# Virtual environment
.my_env/

# Byte-code files
__pycache__/
*.pyc

# Editor/IDE specific files
.idea/  # PyCharm
.vscode/ # VS Code
*.sublime-project
*.sublime-workspace

# Database files (if using SQLite)
*.sqlite3
*.db

# Log files
*.log

# Environment variables
.env
# ignore
images/